/.gradle/
/.nb-gradle/
/build/
/private/
/*.dll
/*.dylib
/*.so
/Server/src/main/resources/personalConfig_DO_NOT_COMMIT.json
#Although most of the .idea directory should not be committed there is a legitimate purpose for committing run configurations
/.idea/
!/.idea/runConfigurations/

local.properties
