/.gradle/
/.nb-gradle/
/build/
/private/
/*.dll
/*.dylib
/*.so
/*.exe
/src/main/resources/Config/Server/personalConfig_DO_NOT_COMMIT.json
/data/saves/
/Server/build/
#Although most of the .idea directory should not be committed there is a legitimate purpose for committing run configurations
/.idea/
!/.idea/runConfigurations/

/Backups/

local.properties
